.link-menu {
  text-decoration: none;
  color: rgb(99, 99, 99);
  transition: .5s;
}

.link-menu:hover {
  color: rgb(1, 1, 201);
}

.link-btn-menu {
  color: white;
  margin-right: 1em;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: .5s;
}

.link-btn-menu:hover {
  color: rgb(228, 226, 226);
}

